.services {
  padding-inline: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 70%;
    box-shadow: 0px 0px 700px 200px #acb4381f;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 15%;
    right: 50%;
    box-shadow: 0px 0px 700px 200px #8e95301f;
    z-index: 1;
  }

  &__container {
    padding: 40px;
    border-radius: 20px;
  }

  &__title {
    color: $title-color;
  }

  &__block {
    transition: all 0.2s ease;
    background-color: #11120dc6;
    color: #fff;
    border: 1px solid $main-yellow-color;
    border-radius: 8px;
    padding: 15px 20px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__description {
    margin: 0;
    margin-block: 5px;
    font-size: 14px;
  }


  &__icon {
    flex-shrink: 0;
    height: 60px;
    width: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-block {
    font-size: 20px;
    color: #f7fbe4;
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & p {
      padding-left: 25px;
      position: relative;
      color: #f7fbe4;
      margin: 0;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        height: 15px;
        width: 15px;
        background-image: url('../../images/icons/check-mark.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__price {
    font-size: 18px;

    &>span {
      color: $main-yellow-color;
    }
  }

  &__link {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $main-yellow-color;
    }
  }

  &__btn {
    width: 40%;
    text-decoration: none;
    text-align: center;
    padding-block: 7px;

    @include button();
  }
}