.services {
  padding-inline: 20px;
  position: relative;

  &__hr {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
  }

  &__container {
    padding: 40px;
    border-radius: 20px;
  }

  &__title {
    color: $title-color;
  }

  &__block {
    transition: all 0.2s ease;
    background-color: #ffffff;
    color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 10px #acacac62;
    border-radius: 15px;
    padding: 25px;

    &--recomended {
      border: 1px solid $yellowe-color;
      box-shadow: 0px 0px 4px $yellowe-light;
      position: relative;

      &__type {
        position: absolute;
        height: 26px;
        top: -13px;
        left: 30px;
        font-size: 14px;
        line-height: 26px;
        padding-inline: 10px;
        color: $dark-text-color;
        font-weight: 700;
        background-color: $yellowe-color;
        border-radius: 20px;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__description {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color:#4f4f4fd7;

  }

  &__icon-block {
    background-color: #fdf7e6;
    padding: 10px;
    border-radius: 10px;

    &--recomended {
      background-color: $yellowe-color;
    }
  }

  &__icon {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-block {
    font-size: 20px;
    color: $dark-text-color;
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & p {
      padding-left: 25px;
      position: relative;
      color: #f7fbe4;
      margin: 0;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        height: 15px;
        width: 15px;
        background-image: url('../../images/icons/check-mark.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__price-block {
    font-size: 14px;
    font-weight: 400;
    color: $text-grey;
  }

  &__price {
    color: $yellowe-color;
    font-size: 20px;
  }

  &__bargain {
    font-size: 14px;
     font-weight: 400;
    color: $text-grey;
  }

  &__link {
    cursor: pointer;
    color: $dark-text-color;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $main-yellow-color;
    }
  }

  &__btn {
    width: 50%;
    text-decoration: none;
    text-align: center;
    padding-block: 7px;

    @include button();
  }
}