.services {
  padding-inline: 20px;

  &__container {
    // background-color: #383421;
    // border: 1px solid $main-yellow-color;
    // box-shadow: 0px 0px 1px 5px $yellow-dark inset;
    padding: 40px;
    border-radius: 20px;
  }

  &__title {
    color: #fff;
  }
}

.accordion-button {
  background-color: #ffffff;

  &:not(.collapsed) {
    background-color: $main-yellow-color;
    color: #fff;
  }
}

.accordion-body {
  background-color: $yellow-light; 
  color: #000000cb; 
}

.accordion-button {
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

