.services {
  padding-inline: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 70%;
    box-shadow: 0px 0px 700px 200px #acb4381f;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 15%;
    right: 50%;
    box-shadow: 0px 0px 700px 200px #8e95301f;
     z-index: 1;
  }

  &__container {
    padding: 40px;
    border-radius: 20px;
  }

  &__title {
    color: #fff;
  }

  &__block {
    transition: all 0.2s ease;
    background-color: #11120dc6;
    color: #fff;
    border: 1px solid $main-yellow-color;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 30px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__icon {
    height: 120px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-block {
    font-size: 20px;
    text-align: center;
  }

  &__description {
    font-size: 10px;
    color: #929691;
    text-align: center;
  }
}