.menu {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.1s;
  opacity: 0;
  pointer-events: none;

  background-color: rgba(93, 100, 81, 0.3);
  backdrop-filter: blur(10px);
  height: 100vh;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}