.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;

  background-color: rgba(93, 100, 81, 0.3);
  backdrop-filter: blur(10px);
  height: 100vh;
  padding-top: 20px;

  &:target {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}