.top-bar {
  transition: 0.2s ease;
  box-sizing: content-box;
  padding: 30px 0;
  height: 35px;
  border-radius: 60px;

  &__logo-link {
    height: 100%;
  }

  &__dropdown {
    background-color: #000000;
  }
}