.top-bar {
  transition: 0.2s ease;
  box-sizing: content-box;
  padding: 24px 0;
  height: 35px;
  // background-color: #bfdb8620;
  border-radius: 60px;
  // box-shadow: 0px 0px 6px 2px #86868636;

  &__logo-link {
    height: 100%;
  }

  &__dropdown {
    background-color: #000000;
  }
}