.privacy-policy {
  background-color:$bg-section;
  color:$dark-text-color;

  &__btn {
    @include button();
    width: 200px;
    height: 40px;
  }

  &__content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 40px;

    & h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    & h2 {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    & p,
    & ul {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    & ul {
      padding-left: 20px;
    }

    & strong {
      font-weight: bold;
    }


  }
}