.icon {
  height: 32px;
  width: 32px;
  background-size: cover;

  &--close {
    height: 20px;
    width: 20px;
    background-image: url('../images/icons/close-icon.png');
  }

  &--menu {
    height: 20px;
    width: 20px;
    background-image: url('../images/icons/menu-icon.png');
  }

  &--go-up {
    height: 20px;
    width: 20px;

    background-image: url('../images/icons/go-up-icon.png');
  }

  &--car {
    background-image: url('../images/icons/car-icon.png');
  }

  &--one-time {
    background-image: url('../images/icons/one-time-diagnostics-icon.png');
  }

  &--before-purchase-icon {
    background-image: url('../images/icons/diagnostics-before-purchase-icon.png');
  }

  &--documents {
    background-image: url('../images/icons/documents-icon.png');
  }

  &--online-consultation {
    background-image: url('../images/icons/online-consultation-icom.png');
  }

  &--cost-assessment {
    background-image: url('../images/icons/cost-assessment-icon.png');
  }

  &--check-mark {
    background-image: url('../images/icons/check-mark.png');
  }

  &--prem {
    background-size: cover;
    background-image: url('../images/icons/prem-icon.png');
  }
  &-- {
    background-image: url('../images/icons');
  }
  &-- {
    background-image: url('../images/icons');
  }
  &-- {
    background-image: url('../images/icons');
  }
  &-- {
    background-image: url('../images/icons');
  }
}