@mixin button($borderRad: 30px, $borderWid: 2px) {
  transition: all 0.2s ease;
  border: none;
  // border: $borderWid solid $main-yellow-color;
  color: $dark-text-color;
  border-radius: $borderRad;
  // background-color: #ffffff10;
  background-color: $yellow-color;

  &:hover {
    background-color: $yellow-hover-color;
  }
}

@mixin linkHover() {
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, text-decoration 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: $dark-text-color;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
}