$main-grey: #c4c4c4;
$dark-text-color: #1e1701;
$subtitle: #3f4247;
$light-grey: #e9e9e9c6;
$text-grey: #696969c6;
$yellow-color: #eab308;
$yellow-light: #f4d372;
$yellow-hover-color: #eab208c6;
$bg-section: #f9fafb;