.nav {
  &__link {
    color: #1d1d1d;

    height: 100%;
    font-weight: 500;

    @media (min-width: 992px) {
      color: $subtitle;
    }
  }

  &__list {
    font-size: 25px;

    @media (min-width: 992px) {
      font-size: 15px;

    }

  }

  &__item {
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:hover {
      color: $yellow-dark;
    }

    @media (min-width: 992px) {
      @include linkHover();
    }
  }
}