.header {
  height: 100vh;
  width: 100%;
  // padding-top: 30px;
  background-image: url(../../images/header-bg.png);
  background-position: 60% 0;
  background-size: cover;

  &__content {
    height: 100%;
  }

  &__overview-content {
    color: #bdbdbd;
  }

  &__title {
    font-size: 52px;
  }

  &__button {
    transition: all 0.2s ease;
    border: 2px solid $main-yellow-color;
    color: $main-yellow-color;
    border-radius: 30px;
    background-color: #ffffff10;
    width: 250px;

    &:hover {
      background-color: $main-yellow-color;
      color: #fff;
      box-shadow: 0px 0px 4px 1px #ffffff84;
    }
  }
}