.header {
  height: 100vh;
  width: 100%;
  // padding-top: 30px;
  background-image: url(../../images/header-bg.png);
  background-position: 60% 0;
  background-size: cover;

  &__content {
    height: 100%;
  }

  &__overview-content {
    color: #bdbdbd;
  }

  &__title {
    font-size: 52px;
  }

  &__button {
    @include button();
    width: 250px;
  }
}