.prices {
  background-color: $yellow-dark;
  padding-block: 40px;
  color: #fff;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;

  position: relative;


  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 20%;
    box-shadow: 0px 0px 700px 200px #acb4381f;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 20%;
    right: 20%;
    box-shadow: 0px 0px 700px 200px #8e95301f;
    z-index: 1;
  }

}