.app {

  &__main {
    position: relative;

    background-color: $bg-section;
    padding-top: 50px;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: #ffffff6d;
  }

  &__go-up {
    z-index: 10;
    position: fixed;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 15px;
    bottom: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color:$yellow-light;
    border: 1px solid $yellow-color;

    & div {
      cursor: pointer;
    }

    &:hover {
      background-color: $yellow-hover-color;
      box-shadow: 0px 0px 2px 2px #fff;
    }
  }
}