.app {
  &__main {
    position: relative;

    background-color: $yellow-dark;
    padding-block: 50px;
    box-shadow: 0px -20px 40px 15px $yellow-dark;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: #ffffff6d;
  }

  &__go-up {
    position: fixed;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 15px;
    bottom: 20px;
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;

    &:hover {
      background-color: #e6e5e5;
      box-shadow: 0px 0px 2px 2px #fff;
    }
  }
}