@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// Импортируем AOS и его стили
@import "aos/dist/aos.css";



@import './styles/variables.scss';
@import './styles/icon.scss';
@import './styles/mixins.scss';

@import './App.scss';
@import './components/Header/Header.module.scss';
@import './components/Navigation/Navigation.module.scss';
@import './components/TopBar/TopBar.module.scss';
@import './components/Menu/Menu.module.scss';
@import './components/ChangeLanguage/ChangeLanguage.module.scss';
@import './components/Services/Services.module.scss';
@import './components/ServicesDetails/ServicesDetails.module.scss';
@import './components/Contacts/Contacts.module.scss';
@import './components/Footer/footer.module.scss';
@import './components/PrivacyPolicy/PrivacyPolicy.module.scss';
@import './components/Slider/AutoSelectionSlider.module.scss';



* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-width: 380px;
  scroll-behavior: smooth;
}

body.menu-open {
  overflow: hidden;
}

.title {
  color: $dark-text-color;
  font-size: 30px !important;
  font-weight: 700;
  position: relative;
  padding-bottom: 12px;
  margin: 0;

  &--underline {
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: calc(50% - 60px);
      width: 120px;
      height: 4px;
      background-color: $yellow-color;
    }
  }
}

.subtitle {
  color: $subtitle;
  font-size: 15px;
}