.contacts {
  &__title {
    color: #e5c053;
  }

  &__block {
    transition: all 0.2s ease;
    background-color: #11120dc6;
    color: #fff;
    border: 1px solid $main-yellow-color;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0 0 10px 1px #e0d88880 inset;
  }

  &__icon {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__link {
    transition: background-color 0.2s ease;
    padding: 4px 12px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #c8b685;
    color: #f7fbe4;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      background-color: $main-yellow-color;
    }
  }
}