.price-card {
  transition: all 0.2s ease;
  padding: 30px;
  border: 1px solid #3d3920;
  border-radius: 10px;
  width: 350px;
  background-color: #1d1a07;
  justify-content: space-between;
  color: $white-color;

  &:hover {
    background-color: #282812;
    border: 1px solid $main-yellow-color;
  }

  &--rec {
    border: 1px solid #c8b685;
    box-shadow: 0px 0px 20px 10px #48370a;
    transform: scale(1.1);
  }

  &__btn {
    transition: background-color 0.2s ease;
    padding-block: 7px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #c8b685;
    color: #fff;

    &:hover {
      background-color: $main-yellow-color;
    }
  }



  &__description {
    position: relative;
  }

  &__content {
    position: absolute;
    background-color: #fff;
    width: 100%;
  }

  &__item-content {
    padding-left: 25px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
      height: 15px;
      width: 15px;
      background-image: url('../../images/icons/check-mark.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}