.services-details {

  &__container {

    padding: 20px;
  }

  &__aditional-info {
    color: $subtitle;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    & p {
      padding-left: 20px;
      position: relative;
      font-weight: 400;
      color: $subtitle;
      margin: 0;


      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        height: 13px;
        width: 13px;
        background-image: url('../../images/icons/check-mark.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__icon {
    height: 120px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__salesman-info {
    & span {
      font-size: 28px;
      color: $yellow-color;
      font-weight: 300;
    }

    & p {
      text-transform: uppercase;
      color: $text-grey;
      font-size: 13px;
      margin: 0;
      font-weight: 400;
    }
  }
}

.services-details .accordion-item {
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
}

/* Header button */
.services-details .accordion-button {
  background: #ffffff;
  color: $dark-text-color;
  font-weight: 500;
  padding: 18px 20px;
  border: none;
}

/* Hover */
.services-details .accordion-button:hover {
  // background: #1b1f16;
}

/* Active (open) */
.services-details .accordion-button:not(.collapsed) {
  background: #ffffff;
  color: $dark-text-color;
}

/* Remove default Bootstrap arrow bg */
.services-details .accordion-button::after {
  background-image: none;
  content: '';
  width: 8px;
  height: 8px;
  border-right: 2px solid $dark-text-color;
  border-bottom: 2px solid $dark-text-color;
  transform: rotate(45deg);
  transition: transform 0.25s ease;
}

/* Arrow when open */
.services-details .accordion-button:not(.collapsed)::after {
  transform: rotate(-135deg);
}

/* Body */
.services-details .accordion-body {
  background: #ffffff;
  padding: 18px 20px;
  font-size: 14px;
  line-height: 1.6;
}

.services-details .accordion-item:first-child {
  border-top: none;
}